// Improting files
@import "./abstracts/variables";

// Create your own map
$custom-colors: (
  "primary": hsl(231, 69%, 60%),
  "secondary": hsl(0, 94%, 66%),
  "grey": hsl(229, 8%, 60%),
);

// Importing bootstrap elements
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Improting bootstrap scss
@import "~bootstrap/scss/bootstrap";

@mixin bg-effects($position-left, $position-right, $border-radius) {
  z-index: -1;
  width: 40%;
  height: 50%;
  background-color: $primary-blue-colour;
  border-radius: $border-radius;
  position: absolute;
  bottom: 0;
  left: $position-left;
  right: $position-right;

  @media (max-width: 768px) {
    width: 65%;
    height: 75%;
  }
}

body {
  font-family: "Rubik", sans-serif;
}

.btn-secondary {
  color: white;
}

p,
a,
.btn {
  font-size: 14px;
}

.navbar-nav {
  .nav-item {
    padding: 0 16px;
  }
  .nav-link {
    text-transform: uppercase;
  }
  button {
    text-transform: uppercase;
  }
}

.hero {
  position: relative;
  .bg-effects {
    @include bg-effects(unset, 0, 0% 0% 0% 45%);
  }
}

.hero-img {
  position: relative;
  img {
  }
}

// Tabbing styles
.fade:not(.show) {
  opacity: 0;
  height: 0;
}
.fade {
  transition: opacity 0.15s linear;
  transition: height 0.15s linear;
}

.features {
  position: relative;
  .bg-effects {
    @include bg-effects(0, unset, 0% 0% 45% 0%);
  }
}

.download-section img {
  margin: 0 auto;
  width: auto;
  height: auto;
}

.download-section .card {
  border-radius: 0.5em;

  .card-footer {
    background-color: unset;
  }
}
